@model OchronaDanych_291118.Models.Note
<!DOCTYPE HTML>
<html lang=pl>
<head>
    <title>@Model.Title</title>
</head>
<body>
    @{
        ViewData["Title"] = Model.Title;
    }
    <div>
        <h2>@Model.Title</h2>
    </div>
    <div>
        @Html.Raw(Model.Description)
    </div>
</body>
</html>